
h1{
    font-family:Prompt;
    text-align: center;
}
#head{
    margin-top:2rem;
}
#addthingtodo{
    padding-left:6rem;
    padding-right:6rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    margin-top:1em;
    text-align:center;

}
#button{
    margin-top:1rem;
}
ul li{
    list-style-type: none;
    margin:10px;
}
#checkbox{
    width: 25px; 
    height: 25px; 
}
.list{
    margin-top:20px;
}
.center{
    text-align: center;
}
